extends layout

block content
  body
    div(class="banner-custom")
      div(class="text-center")
        img(src="/images/logo.png")
        p.lead Find your musical soulmates.
        a(href='users/login', class="btn btn-default")
          span
          |  Login
        a(href='users/signup', class="btn btn-default")
          span
          |  Signup
