extends layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .jumbotron.text-center
        h1 Express Authentication
        p.lead A simple authentication app built with express, node & passport.
        a.btn.btn-default(href='users/login')
          span.fa.fa-sign-in
          |  Login
        a.btn.btn-default(href='users/signup')
          span.fa.fa-user
          |  Signup
