extends layout

block content
  body
    div(class="banner-custom")
      div(class="text-center")
        img(src="/images/logo.png" class="nav-brand")
        p.lead Find your musical soulmate.
        a(href='/login', class="btn btn-default")
          span
          |  Login
        a(href='/signup', class="btn btn-default")
          span
          |  Signup
