doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  body
    nav(class='navbar navbar-inverse navbar-fixed-top" role="navigation')
      div(class="container-fluid")
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav navbar-left")
          li
            a(class='nav-item' href='/users/') View all jammers
          li
            a(class='nav-item' href='/users/new') Make a profile
          if (currentUser)
            li
              a(class='nav-item' href='/logout') Sign out

    block content
