doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/users/') View all jammers
    a(href='/users/new') Make a profile
    block content
