doctype html
html
  head
    title Just Jam
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  body
    nav(class='navbar-custom navbar navbar-fixed-top')
        div(class="container-fluid")
          div(class="navbar-header")
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            div(class="nav navbar-nav navbar-left")
              a(href="/jammers")
                img(src="/images/logo.png" class="nav-logo")
            form(class="navbar-form navbar-left", action='/jammers', method='get')
              div(class='form-group')
                select(name ="instruments" class="form-control")
                  option(value="" disabled="disabled" selected="selected") I am a looking for a...
                  option(value="Singer") Singer
                  option(value="Guitarist") Guitarist
                  option(value="Bassist") Bassist
                  option(value="Keyboardist") Keyboardist
                  option(value="Drummer") Drummer
                  input(type='submit', value="Search", class="btn btn-default")
            ul(class="nav navbar-nav navbar-right")
              li(class="nav-custom")
                a(href='/jammers/') View all jammers
              if (user)
                li(class="nav-custom")
                  a(href='/chats') View all chats
                li(class="nav-custom")
                  a(href='/users/profile') My profile
                li(class='nav-custom')
                  a(href='/users/logout') Log Out
              else
                li(class="nav-custom")
                  a(href='/users/login') Log in
                li(class="nav-custom")
                  a(href='/users/signup') Sign up
    block content
