doctype html
html
  head
    title Just Jam
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  body
    nav(class='navbar-custom navbar navbar-fixed-top')
        div(class="container-fluid")
          div(class="navbar-header")
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            div(class="nav navbar-nav navbar-left")
              a(href="/jammers")
                img(src="/images/logo.png" class="nav-logo")
            ul(class="nav navbar-nav navbar-right")
              li(class="nav-custom")
                a(href='/jammers/') View all jammers
              li(class="nav-custom")
                a(href='/users/profile') My profile
              if (user)
                li(class='nav-custom')
                  a(href='/users/logout') Log Out
    block content
