extends layout

block content
  .col-sm-8.col-sm-offset-2
    .jumbotron.text-center
    h1
      span.fa.fa-sign-in
      |  Login

    if message != null
      d(class="alert-danger")=message

    if message && message.length
      strong #{message}

    form(action='/login', method='post')
      .form-group
        label Email
        input.form-control(type='text', name='email')
      .form-group
        label Password
        input.form-control(type='password', name='password')
      div
        input.form-control(type='submit', value='Submit')
    hr
    span.fa.fa-sign-in
      | Don't have an account?
      a(href='/signup')  Signup
    p
      | Or go
      a(href='/')  home
      | .
