extends ../views/layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .text-center
        h1.fa.fa-user  Profile
        br
        a(href=`/users/edit/${user._id}`)  Update profile
        br
        span
          strong user id
          strong= user.local.email
        br
        strong= user.name
        br
        span.fa.fa-sign-out
          a(href='/')  Sign out
        hr
        .jumbotron
          if user.local.email != null
            img(src="https://static-s.aa-cdn.net/img/ios/599611224/36d64a6b42a23851baf90aa432ccdbac?v=1" class="img-circle")
            strong= email
