body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

a {
  color: #fff;
}

nav {
  padding: 10px;
}

h1 {
  padding: 5px;
}

.navbar-custom {
  list-style: none;
  background-color: #242628;
}

.new-form {
  background-color: #eee;
  padding: 20px;
}

/*.user-list {
  text-align: center;
  border-bottom: solid 2px #eee;
  height: 330px;
}*/

/*.thumbnail > .img-custom {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}*/

.nav > .nav-custom > a:hover, .nav > .nav-custom > a:focus {
  background-color: #242628;
  color: #fff;
}

.nav-custom > a {
  color: #fff;
}

.banner-custom {
  margin-top: 150px;
  background-color: #242628;
  color: #fff;
  opacity: 0.7;
  padding: 100px;
}

.nav-logo {
  padding-top: 5px;
  max-height: 40px;
}

.msg {
  height: 20px;
}

#chat {
  padding: 10px;
}

.jammer-image-list {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.jammer-image-list img{
  position:absolute;
}

.search-bar {
  width: 65%;
  height: 30px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: black;
}

.search-button {
  height: 30px;
  background-color: #e6e6e6;
}
