body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background: #fff;*/
}

a {
  color: #fff;
}

nav {
  padding: 10px;
}

h1 {
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-custom {
  list-style: none;
  background-color: #242628;
}

.img-list {
  height: 200px;
  width: 200px;
}

.img-index {
  display: block;
  margin: 0 auto;
}

.new-form {
  background-color: #242628;
  padding: 20px;
}

.form-text {
  color: #fff;
}

.nav > .nav-custom > a:hover, .nav > .nav-custom > a:focus {
  background-color: #242628;
  color: #fff;
}

.nav-custom > a {
  color: #fff;
}

.chat-message:nth-child(even) {
  color: #428bca;
  padding-left: 10px;
}

.chat-message:nth-child(odd) {
  color: #242628;
  padding-left: 10px;
}

.banner-custom {
  margin-top: 50px;
  background-color: #242628;
  color: #fff;
  opacity: 0.7;
  padding: 100px;
}

.chat-layout {
  background-color: #242628;
  color: #242628;
  opacity: 0.9;
  padding: 7px;
  margin: 20px;
  border-radius: 5px;
}

.chat-index-layout {
  background-color: #242628;
  color: #fff;
  opacity: 0.9;
  padding: 7px;
  margin: 20px;
  border-radius: 5px;
}

.login-page {
  margin-top: 50px;
  background-color: #242628;
  color: #fff;
  opacity: 0.9;
  padding: 10px;
}

.index-profile {
  background-color: #242628;
  color: #fff;
  opacity: 0.9;
}

.nav-logo {
  padding-top: 5px;
  max-height: 40px;
}

.msg {
  height: 20px;
}

#chat {
  padding: 10px;
}

.chat-link{
  color: black;
  font-size: 15px;
}

.jammer-profile-image {
  border-radius: 5px;
  margin-left: 10px;
  height: 300px;
  width: 300px;
}

.profile-container {
  background-color: #242628 !important;
  color: white !important;
  border-radius: 2 !important;
}

.profile-text {
  padding-top: 25px;
  text-align: left;
}

audio {
  width: 95%;
  margin: 0 auto;
}

.profile-row {
  margin: 0px;
  background-color: #242628;
  color: #fff;
  opacity: 0.9;
  padding: 10px;
  border-radius: 5px;
}


.chat-layout {
  background-color: #242628;
  color: #242628;
  opacity: 0.9;
  padding: 7px;
  margin: 20px;
  border-radius: 5px;
}

.centered-chat {
  align: center;
  display: inline-block;

}

.search-bar {
  width: 65%;
  height: 30px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: black;
}

.search-button {
  height: 30px;
  background-color: #e6e6e6;
}
