extends ../../views/layout

block content

  h1 Jammers...

  ul
    each user, i in users
        li
          ul
            li= user.username
            img(src= user.imagePath)
            li= user.name
            li
              a(href=`/users/${user.username}`) Show
