extends ../../views/layout

block content

  h1 Jammers...
  div(class="container")
    div(class="row user-list")
      each user, i in users
          div(class="col-md-4")
            img(src= user.imagePath, class="img-custom img-responsive")
            h2=user.username
            p(class='name')= user.name
            p
              a(href=`/users/${user.username}`) Show
