extends ../layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .text-center
        h1  Profile
        br
        a(href=`/jammers/new`)  Create profile
        br
        span
          strong User:
          strong= user.local.email
        br
        span
          a(href='/users/logout')  Sign Out

        hr
        .jumbotron
          if user.local.email != null
            img(src="https://static-s.aa-cdn.net/img/ios/599611224/36d64a6b42a23851baf90aa432ccdbac?v=1" class="img-circle")
            strong= email
