extends ../layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .text-center

        if message.length
          .alert.alert-danger #{message}
        div(class='login-page')
          h1 Sign Up
          form(action='/users', method='post')
            div(class="new-form")
              .form-group
                label Email
                input(type='text', name='email', class="form-control")
              .form-group
                label Password
                input(type='password', name='password', class="form-control")
              div
                input(type='submit', value='Submit', class="btn btn-default")

            hr
            span
              |  Already have an account?
              a(href='/users/login')  Log In
            p
              | Or go
              a(href='/')  home
              | .
