extends ../../views/layout

block content

    each chat, i in chats
      div(id="chat-list")
        h1= chat.sender
        h1= chat.recipient

        form(action=`/chats/${chat._id}`)
          button Join
