extends ../../views/layout

block content

    each chat, i in chats
      div(id="chat-list")
        h1 #{jammer1.name} & #{jammer2.name}

        form(action=`/chats/${chat._id}`)
          button Join
