extends ../../views/layout

block content

  div(class="chat-index-layout")


    if (chats.length > 0)
      h1 Your chats
      each chat, i in chats
        div(id="chat-list" class="panel panel-default")
          a(href=`/chats/${chat._id}` class="chat-link")
            div(class="panel-body")
              span(class="fa fa-envelope")
              span(class="chat-link")=`  ${chat.sender} and ${chat.recipient}`

          //- form(action=`/chats/${chat._id}`)
          //-   button Join

    else
      h2 No chats
