extends ../../views/layout

block content

    each chat, i in chats
      each participant, i in chat.participants
        div(id="chat-list")
          h1= participant.name

        form(action=`/chats/${chat._id}`)
          button Join
