extends ../../views/layout

block content

  if (chats.length > 0)
    each chat, i in chats
      div(id="chat-list")
        h1= chat.sender
        h1= chat.recipient

        form(action=`/chats/${chat._id}`)
          button Join

  else
    h2 No chats
