extends ../../views/layout

block content

    div(id="chat-list")
      each chat, i in chats

        h1= chat

        form(id="join-group" action=`/jammers/${chat._id}`)
          input(id="group" autocomplete="off")
            button Join

    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="../socket.js")
