extends ../../views/layout

block content

  div(class="container")

    div(class="row")

      each jammer, i in jammers
          div(class="col-md-4 col-sm-6 col-xs-12")
            div(class="thumbnail index-profile profile")
              a(href=`/jammers/${jammer._id}`)
                img(src= jammer.imagePath, class="img-responsive img-list")
              div(class="caption")
                h3=jammer.name
                p= jammer.instruments
                p= jammer.location
