extends ../../views/layout

block content

  h1 Jammers

  div(class="container")
    div(class="row user-list")
      each jammer, i in jammers
          div(class="col-md-4")
            div(class="user-list")
              img(src= jammer.imagePath, class="img-custom img-responsive")
              h2=jammer.name
              p= jammer.instruments
              p
                a(href=`/jammers/${jammer._id}`) Show
